<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
<style>
.node {
stroke: #fff;
stroke-width: 1.5px;
}

.link {
stroke: #999;
stroke-opacity: .6;
}
</style>
<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
graph = new Object();
graph.nodes  = [];
graph.links = [];



function find_node(name)
{
	for(var i = 0; i < graph.nodes.length; i++) {
    	if (graph.nodes[i].name == name)
        	return graph.nodes[i];
    }
    return null;
};

function find_link(hub, nod)
{
	for(var i = 0; i < nod.links.length; i++) {
		if (nod.links[i].target == hub)
			return nod.links[i];
    }
    return null;
};

function add_hub(id)
{
    var new_node = new Object();
    new_node.name = id;
    new_node.is_hub = true;
    place = graph.nodes.push(new_node);

    return new_node;
};

function add_node(hub, mac, rssi)
{
        var new_node = new Object();
        new_node.name = mac;
        new_node.value = rssi;
        new_node.is_hub = false;
        new_node.links = [];
        place = graph.nodes.push(new_node);

        return new_node;
};

function add_link(hub, node, rssi)
{
	var new_link = new Object();
	new_link.source = node;
	new_link.target = hub;
    new_link.value = rssi;

    graph.links.push(new_link);

    node.links.push(new_link);
	return new_link
};

function remove_node(nod)
{
	var idx = graph.nodes.indexOf(nod);
	graph.nodes.splice(idx,1);
};

function remove_links(nod, hub)
{
	for(var i = 0; i < graph.links.length; i++) {
		if (graph.links[i].source == nod && graph.links[i].target == hub)
			graph.links.splice(i,1);
	}
	for(var i = 0; i < nod.links.length; i++) {
		if (nod.links[i].target == hub)
			nod.links.splice(i,1);
	}
	return nod.links.length;
};

function proximity_enter(mon, mac, rssi)
{
	//console.log('enter mon: '+mon+' mac: '+mac+' rssi: '+rssi);
	proximity_change(mon, mac, rssi);
};

function proximity_leave(mon, mac, rssi)
{
	console.log('leave mon: '+mon+' mac: '+mac+' rssi: '+rssi);
	var nod = find_node(mac);
	var hub = find_node(mon);
	if (nod && hub) {
		var left = remove_links(nod, hub);
		if (left == 0) {
			remove_node(nod);
		}
		restart();
	}
};

function proximity_change(mon, mac, rssi)
{
	console.log('change mon: '+mon+' mac: '+mac+' rssi: '+rssi);
	var hub = find_node(mon);
	if (hub == null) {
		hub = add_hub(mon);
	}
	var nod = find_node(mac);
	if (nod == null) {
		nod = add_node(hub, mac, rssi);
		add_link(hub, nod, rssi);
	} else {
		var lnk = find_link(hub, nod);
		if (lnk == null) {
			add_link(hub, nod, rssi);
		} else {
			nod.value = rssi;
			lnk.value = rssi;
		}
	}
    restart();
};

var mon_sock = new SockJS('/monitor/{{monitor}}');
mon_sock.onopen = function()
{
        console.log('open');
};
mon_sock.onclose = function()
{
        console.log('close');
};
mon_sock.onmessage = function(e)
{
        //console.log('message', e.data);
        var msg_type = e.data['msgtype'];
        var mac = e.data['mac'];
        var rssi = e.data['rssi'];
        var mon = e.data['mon_id']
        //console.log('mon: '+mon+' type: '+msg_type+' mac: '+mac+' rssi: '+rssi);
        switch (msg_type) {
                case 'proximity-enter':
                        proximity_enter(mon, mac, rssi);
                        break;
                case 'proximity-leave':
                        proximity_leave(mon, mac, rssi);
                        break;
                case 'proximity-change':
                        proximity_change(mon, mac, rssi);
                        break;
                default:
                        break;
        }
};

</script>

</head>
<title> {{monitor}} events</title>
<body></body>
<script>
var width = 960, height = 500;

var color = d3.scale.category20();

var force = d3.layout.force()
        .charge(-150)
        .size([width, height]);

var svg = d3.select("body").append("svg")
      .attr("width", width)
      .attr("height", height);


force.nodes(graph.nodes)
.links(graph.links)
.linkDistance(function(d, index) {
        return 50+(1-d.value);
	})
.start();

var link = svg.selectAll(".link")
           .data(graph.links);

var node = svg.selectAll(".node")
           .data(graph.nodes);

node.append("title")
.text(function(d)
{
        if (d.value) {
                return d.name+' RSSI: '+d.value+' dbm';
        } else {
                return d.name;
        }
});

force.on("tick", function()
{
        link.attr("x1", function(d) {
                return d.source.x;
        })
        .attr("y1", function(d) {
                return d.source.y;
        })
        .attr("x2", function(d) {
                return d.target.x;
        })
        .attr("y2", function(d) {
                return d.target.y;
        });

        node.attr("cx", function(d) {
                return d.x;
        })
        .attr("cy", function(d) {
                return d.y;
        });
});

function restart()
{
        link = link.data(graph.links);

        link.enter().insert("line", ".node")
        .attr("class", "link");
		link.exit().remove();

		node = node.data(graph.nodes);

        node.enter().insert("circle", ".cursor")
        .attr("class", "node")
        .attr("r", 15)
        .call(force.drag)
		.style("fill", function(d) {
			if (d.is_hub) {
				return 'green';
			} else {
				return 'blue';
			}
		})

        node.exit().remove();
        node.select('title').remove();
        node.append("title").text(function(d) {
			if (d.is_hub) {
				return d.name;
			} else {
				return d.name+' RSSI: '+d.value+' dbm';
			}
		});
        
        force.start();
        //console.log('restart');
}

/*
proximity_enter("lbbun52", 'test', -10);
setTimeout(function(){proximity_change("lbbun52", 'test', -50)}, 5000);
setTimeout(function(){proximity_change("testhub", 'test', -50)}, 5500);
setTimeout(function(){proximity_change("lbbun52", 'test', -90)}, 10000);
setTimeout(function(){proximity_leave("lbbun52", 'test', -90)}, 15000);
setTimeout(function(){proximity_leave("testhub", 'test', -90)}, 20000);
*/

</script>
</html>