<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
<style>

.node {
stroke: #fff;
stroke-width: 1.5px;
fill: blue;
}

.link {
stroke: #999;
stroke-opacity: .6;
}
</style>
<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
<script>
graph = new Object();
//graph.nodes  = [{"name":"Hub"}, {"name":"test"}];
//graph.links = [{"source":0, "target":1, "value":-100}];
graph.nodes  = [];
graph.links = [];

function find_node(name)
{
	for(var i = 0; i < graph.nodes.length; i++) {
    	if (graph.nodes[i].name == name)
        	return graph.nodes[i];
    }
    return null;
};

function add_hub(id)
{
    var new_node = new Object();
    new_node.name = id;
    place = graph.nodes.push(new_node);

    return new_node;
};

function add_node(hub, mac, rssi)
{
        var new_node = new Object();
        new_node.name = mac;
        new_node.value = rssi;
        place = graph.nodes.push(new_node);

        var new_link = new Object();
        new_link.target = hub;
        new_link.value = rssi;
        new_link.source = graph.nodes[place -1];
        graph.links.push(new_link);
        
        new_node.link = new_link;

        
        return new_node;
}

function proximity_enter(mon, mac, rssi)
{
	console.log('enter mon: '+mon+' mac: '+mac+' rssi: '+rssi);
	var hub = find_node(mon);
	if (hub == null) {
		hub = add_hub(mon);
	}
    add_node(hub, mac, rssi);
    restart();
};

function proximity_leave(mon, mac, rssi)
{
	console.log('leave mon: '+mon+' mac: '+mac+' rssi: '+rssi);
};

function proximity_change(mon, mac, rssi)
{
	console.log('change mon: '+mon+' mac: '+mac+' rssi: '+rssi);
	var hub = find_node(mon);
	if (hub == null) {
		hub = add_hub(mon);
	}
	var nod = find_node(mac);
	if (nod == null) {
		add_node(hub, mac, rssi);
	} else {
		nod.value = rssi;
		nod.link.value = rssi;
	}
    restart();
};


var mon_sock = new SockJS('/monitor/{{monitor}}');
mon_sock.onopen = function()
{
        console.log('open');
};
mon_sock.onclose = function()
{
        console.log('close');
};
mon_sock.onmessage = function(e)
{
        //console.log('message', e.data);
        var msg_type = e.data['msgtype'];
        var mac = e.data['mac'];
        var rssi = e.data['rssi'];
        var mon = e.data['mon_id']
        //console.log('mon: '+mon+' type: '+msg_type+' mac: '+mac+' rssi: '+rssi);
        switch (msg_type) {
                case 'proximity-enter':
                        proximity_enter(mon, mac, rssi);
                        break;
                case 'proximity-leave':
                        proximity_leave(mon, mac, rssi);
                        break;
                case 'proximity-change':
                        proximity_change(mon, mac, rssi);
                        break;
                default:
                        break;
        }
};


</script>

<script src="http://d3js.org/d3.v3.min.js"></script>

</head>
<title> {{monitor}} events</title>
<body></body>
<script>
var width = 960,
    height = 500;

var color = d3.scale.category20();

var force = d3.layout.force()
            .charge(-120)
            .size([width, height]);

var svg = d3.select("body").append("svg")
          .attr("width", width)
          .attr("height", height);


force.nodes(graph.nodes)
.links(graph.links)
.linkDistance(function(d, index) {
        return 50+(1-d.value);
	})
.start();

var link = svg.selectAll(".link")
           .data(graph.links)
           .enter().append("line")
           .attr("class", "link");


var node = svg.selectAll(".node")
           .data(graph.nodes)
           .enter().append("circle")
           .attr("class", "node")
           .attr("r", 15)
           .call(force.drag);

node.append("title")
.text(function(d)
{
        if (d.value) {
                return d.name+' RSSI: '+d.value+' dbm';
        } else {
                return d.name;
        }
});

force.on("tick", function()
{
        link.attr("x1", function(d) {
                return d.source.x;
        })
        .attr("y1", function(d) {
                return d.source.y;
        })
        .attr("x2", function(d) {
                return d.target.x;
        })
        .attr("y2", function(d) {
                return d.target.y;
        });

        node.attr("cx", function(d) {
                return d.x;
        })
        .attr("cy", function(d) {
                return d.y;
        });
});

function restart()
{
        link = link.data(graph.links);

        link.enter().insert("line", ".node")
        .attr("class", "link");

        node = node.data(graph.nodes);

        node.enter().insert("circle", ".cursor")
        .attr("class", "node")
        .attr("r", 15)
        .call(force.drag);
		
        node.select('title').remove();
        node.append("title").text(function(d) {
                    if (d.value) {
                            return d.name+' RSSI: '+d.value+' dbm';
                    } else {
                            return d.name;
                    }
            }); 	
        
        force.start();
        //console.log('restart');
}

//proximity_enter("test", 'test', -19);
</script>
</html>